<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="author" content=""> <!-- Put you name in content -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="./css/materialize.min.css" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--link rel="stylesheet" type="text/css" href="./css/style.min.css"-->
    <title>COGS 121 - Assignment 1</title>
</head>

<body>
    {{{body}}}
</body>

</html>
<script text="text/javascript" src="./js/jquery.min.js"></script>
<script text="text/javascript" src="./js/materialize.min.js"></script>
