<header>
</header>
<nav class="blue darken-4">
    <div class="nav-wrapper">
        <a href="/chat" class="brand-logo center blue-text text-lighten-2"><img src="./img/logo.png" alt="" height="60px" width="70px" /></a>
        <ul class="right">
            <li><a href="/newpost"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i><span>Post</span></a></li>
        </ul>
        <ul class="left">
            <li><a href="/logout"><i class="fa fa-power-off fa-2x"></i><span>     Log Out</span></a></li>
        </ul>
    </div>
</nav>

<body class="blue darken-2">
  <section>
      <br />
      <br />
      <br />
      <br />
      <div id="inner" class="container white-text">
        <h5>Viewing posts from gym:</h5>
      </div>
        <div id="inner" class="container white">
            <select class="black-text" id="current_gym" onChange="gymChange()">
                <option class="black-text" value="all"> All Gyms</option>
                <option class="black-text" value="Rimac"> Rimac</option>
                <option class="black-text" value="Main_Gym"> Main Gym</option>
                <option class="black-text" value="CanyonView"> CanyonView Gym</option>
            </select>
        </div>
        <div id="inner" class="container">
            <p class="white-text">(choose from the dropdown menu above to filter through gyms)</p>
        </div>
    </section>
    <section class="container">
        <div id="inner">
            <div id="messages">
                {{#each newsfeed}}
                <div class="row center-block" id="post{{_id}}">
                    <div class="col s12">
                        <div class="card white">
                            <div class="card-content black-text">
                                <img src="{{user.photo}}" />
                                <p><b>  {{user.username}}</b> posted on {{posted}}:</p>
                                <div class="card-title">
                                    <h2>{{message}}</h2>
                                    <p><i>{{gym}}</i></p>
                                </div>
                            </div>
                            <div class="card-action">
                                <a href="/comments?postID={{_id}}" class="btn blue darken-3 left comments" postID="{{_id}}">{{numOfComments}} comments</a>
                                <div class="delete" sameUser="{{sameUser}}" postID="{{_id}}">
                                </div>
                            </div>
                            <br>
                            <br />
                            <div id="modal{{_id}}" class="modal">
                                <div class="modal-content">
                                    <h4>Delete post?</h4>
                                    <p>Are you sure you want to delete this post? Click "DELETE" below to delete this post or cancel to go back.</p>
                                </div>
                                <div class="modal-footer">
                                    <!--a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a-->
                                    <a class="modal-action modal-close btn blue darken-3 right delBtn" postID="{{_id}}" onclick="deletePost('{{_id}}')" rel="nofollow">DELETE</a>
                                    <a class="modal-action modal-close btn grey lighten-1 right">CANCEL</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
</body>
<script src="./js/jquery.min.js"></script>
<script src="./js/socket.io.min.js"></script>
<script src="./js/chatbox.js"></script>
<script src="./js/search.js"></script>
