<header>
</header>
<nav class="blue darken-4">
   <div class="nav-wrapper">
     <a href="#" class="brand-logo center blue-text text-lighten-2">TRITONED</a>
     <ul class="left">
        <li><a href="/newpost">new post</a></li>
     </ul>
     <ul class="right">
       <li><a href="/logout"><i class="material-icons">power_settings_new</i></a></li>
     </ul>
   </div>
 </nav>
<body class="blue darken-2">
  <section>
      <div id="inner" class="container">
          <select class="white-text" id="current_gym" onChange="gymChange()">
              <option class="black-text" value="all">All</option>
              <option class="black-text" value="Rimac">Rimac</option>
              <option class="black-text" value="Main_Gym">Main Gym</option>
              <option class="black-text" value="CanyonView">Canyon View Gym</option>
          </select>
  <section class="container">
      <div id="inner">
          <div id="messages">
            {{#each newsfeed}}
              <div class="row center-block">
               <div class="col s12">
                 <div class="card white">
                   <div class="card-content black-text">
                     <div class="card-title">
                       <h2>{{message}}</h2>
                       <p>{{gym}}</p>
                     </div>
                     <img src="{{user.photo}}"/>
                     <p>{{user.username}}</p>
                     <p>{{posted}}</p>
                   </div>
                   <div class="card-action">
                     <a href="/comments?postID={{_id}}" class ="black-text comments left" postID="{{_id}}">comments</a>
                     <a class="black-text right" href="#">delete</a>
                   </div>
                   <br />
                 </div>
               </div>
             </div>
            {{/each}}
        </div>
      </div>
  </section>
</body>
<script src="./js/jquery.min.js"></script>
<script src="./js/socket.io.min.js"></script>
<script src="./js/chatbox.js"></script>
<script src="./js/search.js"></script>
<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>
