<nav class="blue darken-4">
   <div class="nav-wrapper">
     <a href="/chat" class="brand-logo center blue-text text-lighten-2"><img src="./img/logo.png" alt="" height="60px" width="70px"/></a>
     <ul class="left">
        <li><a href="/newpost"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a></li>
     </ul>
     <ul class="right">
       <li><a href="/logout"><i class="material-icons">power_settings_new</i></a></li>
     </ul>
   </div>
</nav>
<body class="blue darken-2">
  <br />
  <br />
  <div class="container">
    <div class="card blue lighten-2">
      <div class="card-content black-text">
        <div class="message-content">
            <h2 class="white-text">{{message}}</h2>
        </div>
        <div class="user">
            <div class="user-image">
                <img src="{{user.photo}}" alt="">
            </div>
            <div class="user-info">
                <span class="username white-text">{{user.username}}</span>
                <br/>
                <span class="posted white-text">{{posted}}</span>
            </div>
        </div>
      </div>
    </div>
    <ul id="comments">
        {{#each comments}}
        <hr>
        <li class="card white">
            <div class="card-content black-text">
              <div class="message-content">
                  <h5>{{message}}</h5>
              </div>
              <div class="user">
                  <div class="user-image">
                      <img src="{{photo}}" alt="">
                  </div>
                  <div class="user-info">
                      <span class="username">{{username}}</span>
                      <br/>
                      <span class="posted">{{posted}}</span>
                  </div>
              </div>
              <div class="delete card-action" sameUser="{{sameUser}}" commentID="{{_id}}">
                  <!-- code for the delete button is in comment.js in the document.ready function -->
              </div>
              <br />
            </div>
        </li>
        {{/each}}
    </ul>
    <form id="send_comment" action="#" class="center center-block">
        <input id="comment_content" class="white blue-text text-darken-4 container" placeholder="Type a new comment and hit enter!" autocomplete="off" parent="{{_id}}" />
        <input type="submit" value="Submit" class="btn blue darken-4">
    </form>
  </div>
</body>
<script src="./js/jquery.min.js"></script>
<script src="./js/comment.js"></script>
