<div class="user">
    <div class="user-image">
        <img src="{{user.photo}}" alt="">
    </div>
    <div class="user-info">
        <span class="username">{{user.username}}</span>
        <br/>
        <span class="posted">{{posted}}</span>
    </div>
</div>
<div class="message-content">
    {{message}}
</div>
<ul id="comments">
    {{#each comments}}
    <hr>
    <li>
        <div class="user">
            <div class="user-image">
                <img src="{{photo}}" alt="">
            </div>
            <div class="user-info">
                <span class="username">{{username}}</span>
                <br/>
                <span class="posted">{{posted}}</span>
            </div>
        </div>
        <div class="delete" sameUser="{{sameUser}}" commentID="{{_id}}">
            <!-- code for the delete button is in comment.js in the document.ready function -->
        </div>
        <div class="message-content">
            {{message}}
        </div>
    </li>
    {{/each}}
</ul>
<form id="send_comment" action="#">
    <input id="comment_content" placeholder="Type a new message and hit enter!" autocomplete="off" parent="{{_id}}" />
    <input type="submit" value="Submit">
</form>
<script src="./js/jquery.min.js"></script>
<script src="./js/comment.js"></script>