<body id="backgroundIMGIndex">
    <div id="login_Container" class="newCenter">
            <p id="greeting"><span class="yellow-text text-lighten-2">TRI</span><span class="brand-logo center blue-text text-lighten-2">TONED</span></p>
        <div class="row center">
            <h5 class="white-text">An app for giving and receiving workout tips, socializing and sharing the conditions of your favorite workout locations near UC San Diego.</h3>
              <br/>
            <a class="waves-effect waves-light btn-large blue darken-1" href="/auth/twitter">Click here to login with Twitter</a>
        </div>
        <div class="header center">
            <img src="./img/logoSmall.png" alt="" />
        </div>
    </div>
</body>