<body id="backgroundIMGIndex">
    <div id="login_Container" class="newCenter">
            <p id="greeting"><span class="yellow-text text-lighten-2">TRI</span><span class="brand-logo center blue-text text-lighten-2">TONED</span></p>
        <div class="row center">
            <h5 class="white-text">We're sorry, but the page you are looking for does not exist, redirecting you back to chat.</h3>
        <div class="header center">
            <img src="./img/logoSmall.png" alt="" />
        </div>
    </div>
</body>
<script src="./js/jquery.min.js"></script>
<script src="./js/invalid.js"></script>
<script src="./js/search.js"></script>