<form id="send_post" action="">
    <input id="message_content" placeholder="Type a new message and hit enter!" autocomplete="off" />
    <select id="gym" value="{{value}}">
        <option value="Rimac">Rimac</option>
        <option value="Main_Gym">Main Gym</option>
        <option value="CanyonView">Canyon View Gym</option>
    </select>
    <input type="submit" value="Submit">
</form>
<script src="./js/jquery.min.js"></script>
<script src="./js/newPost.js"></script>
<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>
