<header>
</header>
<nav class="blue darken-4">
   <div class="nav-wrapper">
     <a href="/chat" class="brand-logo center blue-text text-lighten-2"><img src="./img/logo.png" alt="" height="60px" width="70px"/></a>
     <ul class="left">
        <li><a href="/newpost">new post</a></li>
     </ul>
     <ul class="right">
       <li><a href="/logout"><i class="material-icons">power_settings_new</i></a></li>
     </ul>
   </div>
 </nav>
<body class="blue darken-2">
  <section>

    <div id="inner">
        <div class="center">
        <cemter>
        <form id="send_post" onsubmit="redirect()">
            <input id="message_content" placeholder="Type your message here" autocomplete="off" />
            <select id="gym" value="{{value}}">
                <option value="Rimac">Rimac</option>
                <option value="Main_Gym">Main Gym</option>
                <option value="CanyonView">Canyon View Gym</option>
            </select>
            <input type="submit" value="Post">
        </form>
        </center>
        </div>
    </div>

  </section>
</body>


<script src="./js/jquery.min.js"></script>
<!--<script src="./js/socket.io.min.js"></script>
<script src="./js/chatbox.js"></script>
<script src="./js/search.js"></script>-->
<script src="./js/newPost.js"></script>
<script>
  $(document).ready(function() {
    $('select').material_select();
  });

  function redirect() {
    window.location.href = '/chat';
  }
</script>
